<div class="navigace">

  <a
    routerLink="/"
    class="navigace_link">
    Homepage
  </a>

  <a
    routerLink="/contact"
    class="navigace_link">
    Contact
  </a>

</div>

<div class="obsah">
  <router-outlet></router-outlet>
</div>

<!--

<div class="clovek">

  <b-person
    [fullName]="person.name"
    [age]="person.age"
    [listItems]="list$ | async">
  </b-person>

  <div class="pridavatko">

    <input
      [formControl]="listAddControl"
      type="text"
    />

    <button (click)="onListAdd()">přidat {{ listAddControl.value }}</button>

  </div>

</div>

-->


